[run]
branch = True
source = src
omit = *_test.py
[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    if __name__ == .__main__.:
    assert False, 'unreachable'
    unittest.main()
ignore_errors = True
