# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment
venv/

# PyCharm
.idea/

# macOS
**/.DS_Store

# Coverage reports
.coverage

# Output
out/
